[Unit]
Description = Starts Minecraft Server Container @ Boot & Stops
After = snapd.service snap.docker.dockerd.service
Requires = snap.docker.dockerd.service

[Service]
User = root
Group = root
Type = oneshot
# this pulls a file from the docker volume for the minecraft contiainer to
# get the ports below to open on container start. this file must exist. if you
# only intend to run a single world at a given time then adjust accordingly.
EnvironmentFile = /var/snap/docker/common/var-lib-docker/volumes/minecraft/_data/ENVFOLDER/%i
# this is a shim script found in my docker git folder. there is probably a better way to do this? need for snapd
ExecStartPre = /usr/local/bin/dockershim.source
ExecStart = /snap/bin/docker run \
	-id \
	-h %i \
	-p ${MAINPORT}:25565 \
	--rm \
	--mount source=minecraft,destination=/var/lib/minecraft \
	--name %i \
	mcserver
ExecStop = /snap/bin/docker exec -i %i service minecraft stop
ExecStop = /snap/bin/docker stop %i
RemainAfterExit = yes

[Install]
WantedBy = multi-user.target
