[Unit]
Description = Starts Squid Container @ Boot & Stops
After = snapd.service network.target
Requires = snapd.service

[Service]
User = root
Group = root
Type = oneshot
ExecStartPre = /snap/bin/docker run \
				-id \
				-h squid \
				--network host \
				--rm \
				--mount source=squidconfssl,destination=/etc/squid/certs \
				--mount source=squiddatassl,destination=/var/spool/squid \
				--name squid \
				squid
ExecStart = /snap/bin/docker exec -i squid  /usr/local/bin/squidcert.source
ExecStart = /snap/bin/docker exec -i squid service squid start
ExecStop = /snap/bin/docker stop squid
RemainAfterExit = yes

[Install]
WantedBy = multi-user.target

