[Unit]
Description = Starts Squid Container @ Boot & Stops
After = docker.service network.target
Requires = docker.service

[Service]
User = root
Group = root
Type = oneshot
ExecStartPre = /usr/bin/docker run \
	-id \
	-h squid \
	-p 3129:3129 \
	--rm \
	--mount source=squiddata,destination=/var/spool/squid \
	--name squid \
	squid
ExecStart = /usr/bin/docker exec -i squid service squid start
ExecStop = /usr/bin/docker stop squid
RemainAfterExit = yes

[Install]
WantedBy = multi-user.target

