[Unit]
Description = Starts MythTV Backend Container @ Boot & Stops
After = snapd.service snap.docker.dockerd.service
Requires = snap.docker.dockerd.service

[Service]
User = root
Group = root
Type = oneshot
EnvironmentFile = /var/snap/docker/common/var-lib-docker/volumes/mythtvenv/_data/mythtv%i
# this is a shim script found in my docker git folder. there is probably a better way to do this? need for snapd
ExecStartPre = /usr/local/bin/dockershim.source
ExecStart = /snap/bin/docker run \
	-id \
	-h mythtv%i \
	--network host \
	--rm \
	--mount source=mythtv%i,destination=/var/lib/mythtv \
	--mount source=mythtvenv,destination=/var/lib/mythtvenv \
	--name mythtv%i \
	mythtv
ExecStart = /snap/bin/docker exec -i mythtv%i /usr/local/bin/start.source ${SSHPORT} ${SQLPORT} ${BackendServerPort} ${BackendStatusPort}
ExecStop = /snap/bin/docker stop mythtv%i
RemainAfterExit = yes

[Install]
WantedBy = multi-user.target

