# stripped sshd_config for mythtv backend #

Include /etc/ssh/sshd_config.d/*.conf

Port 22222

PasswordAuthentication yes
ChallengeResponseAuthentication no
X11Forwarding yes
X11UseLocalhost no
PrintMotd no
AcceptEnv LANG LC_*
Subsystem	sftp	/usr/lib/openssh/sftp-server

