[Unit]
Description = Starts Mariadb Container @ Boot & Stops
After = snapd.service snap.docker.dockerd.service
Requires = snap.docker.dockerd.service

[Service]
User = root
Group = root
Type = oneshot
ExecStartPre = /usr/local/bin/dockershim.source
ExecStart = /snap/bin/docker run \
	-id \
	-h mariadb \
	-p 3306:3306 \
	--rm \
	--mount source=sql,destination=/var/lib/mysql \
	--name mariadb \
	mariadb
ExecStart = /snap/bin/docker exec -i mariadb service mysql start
ExecStart = /snap/bin/docker exec -i mariadb /usr/local/bin/sqltzdata.source
ExecStop = /snap/bin/docker stop mariadb
RemainAfterExit = yes

[Install]
WantedBy = multi-user.target
